.DS_Store
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
source/assets/
# Created by .ignore support plugin (hsz.mobi)
.idea
bin
node_modules
public
routes
views
app.js
*.iml
